*{
	margin: 0;
	padding: 0;
}

body{
	background-color:  hsl(217, 54%, 11%);
}


.main-container{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.container{
	width: 20%;
	padding: 20px;
	background-color: hsl(217, 54%, 10%);

}

.card-component{
	background-color: hsl(216, 50%, 16%);
	border-radius: 10px;
	padding: 1rem;
	position: relative;
}


.equi{
	border-radius: 10px;
	opacity: 1;
	transition: .5s ease;
	display: block;
	backface-visibility: hidden;
}

.icon-view{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	left: 6.3%;
	top: 3.5%;
	padding: 5.4rem;
  	border-radius: 10px;
}

.main-image:hover .equi{
	opacity: 1;
}

.main-image:hover .icon-view{
	opacity: 0.7;
	background: hsl(178, 100%, 50%);
	filter: brightness(200%);
}

.main-image{
	margin-bottom: 1rem;
}

.heading, .landing-link{
	text-decoration: none;
	color: #fff;
}

h2, .card-text, .card-line{
	margin: 7px 2px;
}

h2:hover .heading{
	color: hsl(178, 100%, 50%);
	transition: .5s ease;
}

.card-text{
	font-size: 0.9rem;
	line-height: 1.5;
	color: hsl(215, 51%, 70%);
}

.flex-container{
	display: flex;
	gap: 2rem;
	margin: 15px 2px;
}


.icon-1, .icon-2{
	margin-right: 7px
}

.icon-text, .landing-text{
	font-size: 0.9rem;
}

.text-1{
	color: hsl(178, 100%, 50%);;
}

.text-2, .landing-text{
	color: hsl(215, 51%, 70%);
}

.card-line{
	height: 1px;
	border: none;
	background-color: hsl(215, 32%, 27%);
}

.landing{
	display: flex;
}

.landing-image{
	border: 1px solid #fff;
	border-radius: 50%;
}

.landing-text{
	margin: 20px 0 0 10px;
}

.landing-link:hover{
	color: hsl(178, 100%, 50%);
	transition: .5s ease;
}

.attribution{
	color: #fff;
	margin-bottom: 1rem;
}

#name-form{
	text-decoration: none;
	color: hsl(215, 51%, 70%);
}


/*Media Queries*/


@media (min-width: 1601px){
	.main-container, .flex-container{
		flex-wrap: wrap;
	}

	.container{
		width: 16%;
	}
}

@media (max-width:1200px) and (min-width:481px){
	.main-container, .flex-container{
		flex-wrap: wrap;
	}

	.container{
		width: 25%;
	}
}

@media (min-width:680px) and (max-width:1040px){
	.main-container, .flex-container{
		flex-wrap: wrap;
	}

	.container{
		width: 30%;
	}
}

@media (max-width:860px){
	.container{
		width: 35%;
	}
}

@media (max-width: 740px) and (min-width:540px){
	.container{
		width: 45%;
	}

}

@media (max-width:570px) and (min-width:280px){
	.main-container, .flex-container{
		flex-wrap: wrap;
	}

	.container{
		width: 80%;
	}
	
}
